MySQL

In [ ]:
# Write your MySQL query statement below
SELECT eE.Name as Employee
FROM Employee eE,Employee eM
WHERE eM.Id=eE.ManagerId and eM.Salary<eE.Salary